
<app-navbar></app-navbar>
<div class="bg-img" style="background-image: url();">
    <div class="container" id="overlay">
      <h2>Do you want to accept or not?</h2>  
    </div>
</div>


    <div class="card">
        <img src="../../assets/images/food.jpeg">
        <div class="gradient" style="background-image: linear-gradient(0deg, #41eb58,transparent);"></div>
        <div class="info">
                <button class="button1" (click)="onclick()">ACCEPT</button>
                <div id="myPopup">
                    <h3>Pop-up Content</h3>
                    <p>This is the content of the pop-up window.</p>
                    </div>
        </div>
    </div>

    <div class="card">
        <img src="../../assets/images/food.jpeg">
        <div class="gradient" style="background-image: linear-gradient(0deg, #fb2121,transparent);"></div>
        <div class="info">
                <button class="button2" (click)="on()">REJECT</button>
        </div>
       

    </div>
    <app-footer></app-footer>
   