<app-navbar></app-navbar>
<div class="wrapper">
    <div class="background-container">
        <div class="bg-1"></div>
        <div class="bg-2"></div>
    </div>
    <div class="about-container" >
        <div class="image-container"  >
            <img src="assets/images/FTN img1.png" alt=""  > 
        </div>
        <div class="text-container" data-aos="fade-left" >
            <h1>ABOUT US</h1>
            <p>FEED THE NEED is an interface between a food donor and a trust(people who are in actual need of the food),if there is an excess food from home or an event/function there can donate the excess food by searching nearby trusts/charity by entering into our application the charity people will be notified through our application now the charity can decide whether they will be accepting there food or not  if they accept they will be picking the food and they will rate the donor our application will be providing badges so if the donor wants to donate the food again our application will rank them in top order to ensure the food quality.</p>
            <a  routerLink="/signup"></a>
            <div class="button" >
             <button (click)="onclick()">Back</button>
            </div>
        </div>
    </div>
  </div>
  <app-footer></app-footer>
