
  <app-navbar></app-navbar>
  <section>
    <div class="container-rating" style="margin-top: 16%;"  >
      <h1>Rate Your Donor</h1>
      <form>
        <div class="rating" >
          <input type="radio" id="star5" name="rating" value="5">
          <label for="star1"></label>
          <input type="radio" id="star4" name="rating" value="4">
          <label for="star2"></label>
          <input type="radio" id="star3" name="rating" value="3">
          <label for="star3"></label>
          <input type="radio" id="star2" name="rating" value="2">
          <label for="star4"></label>
          <input type="radio" id="star1" name="rating" value="1">
          <label for="star5"></label>
        </div>
        <button type="submit" class="submit-btn" (click)="onclick()">Submit Rating</button>
      </form>
    </div>
  </section>
    <app-footer></app-footer>
