.body { 
  font-family: Arial, sans-serif;
  background-color:#f2f2f2;
  top: 50%;
left:50%;
}

  
  
  h1 {
    text-align: center;
    color: #333333
  }
  
  .container {
    max-width: 400px;
    margin: 0 auto;
    /* padding: 20px; */
    background-color:#ffffff;
    /* border: 1px solid #dddddd; */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    top: 50%;
  left:50%;
  

  }
 
  .rating {
    display: flex;
    justify-content: center;
    top: 50%;
  left:50%;

  }
  
  .rating input {
    display: none;
  }
  
  .rating label {
    cursor: pointer;
    width: 30px;
    height: 30px;
    background-color: #dddddd;
    border-radius: 50%;
    margin: 0 5px;
  }
  
  .rating label:before {
    content: "\2605";
    font-size: 24px;
    color: goldenrod;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    opacity: 0;
    transition: opacity 0.2s;
  }
  
  .rating input:checked ~ label:before {
    opacity: 1;
  }
  
  .rating label:hover:default{
    opacity: 2;
  }
  
  .submit-btn {
    display: block;
    margin-top: 20px;
    margin-left: 45%;
    background-color: #ffffff;
    color:black;
   
    padding: 10px 20px;
    text-align: center;
    cursor: pointer;
    font-size: 16px;
    border-radius: 4px;
  }
  
  .submit-btn:hover {
    background-color: #f90;
  }
  .submit-btn{
    border-radius: 2rem;
  }
  @media(max-width:76.97rem){
    .body { 
      font-family: Arial, sans-serif;
      background-color:#f2f2f2;
      top: 50%;
    left:50%;
    }
    
      
      
      h1 {
        text-align: center;
        color: #333333;
      }
      
      .container {
        max-width: 400px;
        margin: 0 auto;
        /* padding: 20px; */
        background-color:#ffffff;
        /* border: 1px solid #dddddd; */
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        top: 50%;
      left:50%;
      
    
      }
     
      .rating {
        display: flex;
        justify-content: center;
        top: 50%;
      left:50%;
    
      }
      
      .rating input {
        display: none;
      }
      
      .rating label {
        cursor: pointer;
        width: 30px;
        height: 30px;
        background-color: #dddddd;
        border-radius: 50%;
        margin: 0 5px;
      }
      
      .rating label:before {
        content: "\2605";
        font-size: 24px;
        color: goldenrod;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
        opacity: 0;
        transition: opacity 0.2s;
      }
      
      .rating input:checked ~ label:before {
        opacity: 1;
      }
      
      .rating label:hover:default{
        opacity: 2;
      }
      
      .submit-btn {
        display: block;
        margin-top: 20px;
        margin-left: 45%;
        background-color: #ffffff;
        color:black;
       
        padding: 10px 20px;
        text-align: center;
        cursor: pointer;
        font-size: 16px;
        border-radius: 4px;
      }
      
      .submit-btn:hover {
        background-color: #f90;
      }
      .submit-btn{
        border-radius: 2rem;
        margin-left: 30%;
      }
  }
