* {box-sizing: border-box}

/* Full-width input fields */
  input[type=text], input[type=password] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background: #f1f1f1;
  border-radius: 1rem;
}

input[type=text]:focus, input[type=password]:focus {
  background-color: #ddd;
  outline: none;
}

hr {
  border: 1px solid #f1f1f1;
  margin-bottom: 25px;
}

/* Set a style for all buttons */
button {
  background-color: white;
  color: black;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
}

button:hover {
  opacity:1;
  
    background-color: rgb(177, 30, 30);
}


/* Extra styles for the cancel button */

/* Float cancel and signup buttons and add an equal width */
 .signupbtn {
  
  max-width: 20%;
  border-radius: 1rem;
  margin-left: 40%;
}

/* Add padding to container elements */
.container {
  padding-left: 30%;
  padding-top: 8%;
  padding-right: 30%;
  background-image: url("../../assets/images/first.png");
  max-width: 1500px;
  height: 650px;
  border-radius: 1rem;
 
}
.container{
  top: 50%;
  left: 50%;
}

/* Clear floats */
.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

/* Change styles for cancel button and signup button on extra small screens */
@media screen and (max-width: 2000px) {
  .cancelbtn, .signupbtn {
    width: 100%;
  }
}