
.sec {
  margin: 0;
  padding: 0;
  background-image: url('https://img.freepik.com/free-photo/top-view-food-donation_23-2148733821.jpg?w=900&t=st=1687149946~exp=1687150546~hmac=b95973a61eb9d4677f6398b7498523314434ed0978e9fe0fa2ee63684b3b63a8');
  height: 100vh;
  font-family: sans-serif;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  overflow: hidden;
  
}
section .row .col .card .card-title
{
  text-align: center;
 
}
section .row .col .card .card-title h1
{
  text-align: center;
  color:rgb(177, 30, 30);
  font-size:2rem;
  
  
 
}
section .row .col .card .card-title .card-body p
{
  font-size: 0.9rem;
  
  
}
section .row .col .card .card-title .card-body button{
  background-color: rgb(199, 29, 3);
  border:2px solid rgb(200, 1, 1);;
  border-radius: 5px;
  color:black;
  font-weight: 400;
  padding: 5px 10px;
  transition:0.5s;
  flex-direction:column;
  
}
section .row .col .card .card-title .card-body button:hover{
  background-color: rgba(201, 0, 0, 0.968);
}
section .row .col .card{
  transition: transform 420ms;
}
section .row .col .card:hover{
  transform: scale(1.09);
   

}
/* .container{
  border
  display: flex;
  flex-direction: row;
} */
.card{
  margin:30px;
}
.b1,.b2{
  margin-left: 30%;
  background-color: white;
  border-radius: 2rem;
  padding-bottom: 2%;
  padding-top: 2%;
  padding-left: 5%;
  padding-right: 5%;
}
.b2:hover{
      background-color: rgb(238, 153, 26);
}
.b1:hover{
  background-color:rgb(238, 153, 26);
}

@media(max-width:76.97rem){
  
  .sec {
    width: 1200px;
    
    padding: 0;
    background-image: url('https://img.freepik.com/free-photo/top-view-food-donation_23-2148733821.jpg?w=900&t=st=1687149946~exp=1687150546~hmac=b95973a61eb9d4677f6398b7498523314434ed0978e9fe0fa2ee63684b3b63a8');
    max-width: 1500px;
    min-height: 650px;
    height: 100vh;
    font-family: sans-serif;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    overflow: hidden;
    
  }
  section .row .col .card .card-title
  {
    text-align: center;
   
  }
  section .row .col .card {
    width: 700px;
        margin-left: 80%;
        margin-right: 100%;
        
        
  }
  section .con .row .col .card .card-title h1
  {
    text-align: center;
    color:rgb(177, 30, 30);
    font-size:50px;
    
    
   
  }
  section .row .col .card .card-body .card-text p
  {
    font-size: 50px;
    
    
  }
  section .row .col .card .card-title .card-body button{
    background-color: rgb(199, 29, 3);
    border:2px solid rgb(200, 1, 1);;
    border-radius: 2rem;
    color:black;
    /*font-weight: 400;
    padding: 5px 10px;
    transition:0.5s;
    flex-direction:column;*/
    
  }
  section .row .col .card .card-title .card-body button:hover{
    background-color: rgba(201, 0, 0, 0.968);
  }
  section .row .col .card{
    transition: transform 420ms;
  }
  section .row .col .card:hover{
    transform: scale(1.09);
  
  }
  /* .container{
    border
    display: flex;
    flex-direction: row;
  } */
  .card{
    margin:30px;
  }
  .b1,.b2{
    margin-left: 30%;
    background-color: rgb(177, 30, 30);
    border-radius: 2rem;
    padding-bottom: 2%;
    padding-top: 2%;
    padding-left: 5%;
    padding-right: 5%;
  }
  .footer{
    width: 1150px;
  
  }
}