<div class="navbar">
<app-navbar></app-navbar>
</div>
  <section class="sec">
  </section>
  <section class="con">
    
    <!--<div class="row row-cols-1 row-cols-md-2 g-4" >
      <div class="col"  >
        <div class="card shadow-lg"  >-->
          <!-- <img [src]="img.image" [alt]="img.alt" /> -->

<!-- 
********************

          <div class="container">
          <div class="card-title"  >
            <h1>LOGIN AS A DONOR</h1>
            <div class="card-body">
              <p>Food donation refers to the act of giving food to those in need, typically through charitable organizations or community initiatives</p>
              <button (click)="onclick()">Click Here To Donate!!!</button>
            </div>
            </div>
            </div>
              
            <div class="con">
              <div class="card-title"  >
                <h1>LOGIN AS A RECEIVER</h1>
                <div class="card-body">
                  <p>Receiving food donations involves the process of accepting and distributing donated food to individuals or communities in need</p>
                  <button (click)="on()">Click Here To Recieve !!!</button>
            </div>
          </div>
        </div>
   

***************** -->
<div class="row row-cols-1 row-cols-md-2 g-2">
  <div class="col" >
    <div class="card">
      <div class="card-body" >
        <h3 class="card-title">LOGIN AS A DONOR</h3>
        <p class="card-text">Food donation refers to the act of giving food to those in need, typically through charitable organizations or community initiatives</p>
        <button class="b1" (click)="onclick()">Click Here To Donate!!!</button>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card">
      <div class="card-body">
        <h3 class="card-title">LOGIN AS A RECEIVER</h3>
        <p class="card-text">Receiving food donations involves the process of accepting and distributing donated food to individuals or communities in need.</p>
        <button class="b2" (click)="on()">Click Here To Recieve !!!</button>
      </div>
    </div>
  </div>
</div>
   <!--- </div>
    </div>
    </div>-->

    <div class="footer">
    <app-footer></app-footer>
  </div>
    </section>
 
 
  <router-outlet></router-outlet>



  

