<app-navbar></app-navbar>
   <form >
           
      <div class="container">
        <h1>Receiver Information</h1>
        <p>Here is the information of the food you have accepted  </p>
        <hr>
    
        <label for="email"><b>Location</b></label>
        <input type="text" placeholder="Location" name="Location" id="Location" required>
    
        <label for="psw"><b>Category</b></label>
       
        <input type="text" placeholder="Category" name="Category" id="Category" required >
       
    
        <label for="Quantity"><b>Quantity</b></label>
        <input type="text" placeholder="Quantity" name="Quantity" id="Quantity" required>
        <hr>
        <button class="button1" type="submit" (click)="onclick()">Next</button> 
        </div>
        <app-footer></app-footer>
       
    
     
