<app-navbar></app-navbar>

<section>
    <form >
       
      <div class="container">
        <h1>Donation Information</h1>
        
        <label for="email"><b>Location</b></label>
        <input type="text" placeholder="Location" name="Location" id="Location" required>
    
        <label for="psw"><b>Category</b></label>
       
        <input type="text" placeholder="Category" name="Category" id="Category" required >
       
    
        <label for="Quantity"><b>Quantity</b></label>
        <input type="text" placeholder="Quantity" name="Quantity" id="Quantity" required>
      
        <button  class="registerbtn" (click)="onclick()">Submit</button>
        </div>
   
       
        
    
     
</form>
</section>
<app-footer></app-footer>


    

  
    