<app-navbar></app-navbar>
<div class="bg-img" >
      
      <form >  
            <div class="container">
        <h2>Login as Receiver</h2> 
            <label for="username"><b>Username</b></label> 
            <input 
            type="text" 
            placeholder="Enter Username" 
            name="Username" 
            >
            <label for="password"><b>Password</b></label>        
            <input 
            type="password" 
            placeholder="Enter Password" 
            name="Password"
           >
            <button class="button1" type="submit" (click)="onclick()">Login</button>   
      </div>    
      </form>
      </div>
      <div class="footer">
  <app-footer></app-footer>
</div>
